 <nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-gradient lead font-weight-bold" >
  <div class="container-fluid">
    <img class="navbar-brand " src="{{usuario.imagen}}" width="60" height="80"/>
    
    <a class="navbar-brand ">Hello:<strong>{{usuario.user}}</strong></a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-ls-0 bg ">
        <li class="nav-item">
          <a class="nav-link" href="secret">Back to the game</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login/logout" value="logout">LogOut</a>
        </li>
          </ul>
      </ul>
    </div>
  </div>
</nav>
