<body>	
    <div class="row align-items-center justify-content-center vh-100">
  <div class="col-sm-6 bg-warning text-center">
  	<h1 class="text-dark p-5 m-5">
          THE DEV DID NOT MAKE THIS PART :(
          REMEMBER TO KEEP YOUR PASSWORDS BETTER
      </h1>
		<p><a href="/" class="btn btn-dark btn-lg" role="button">
            Get Out Here
        </a>
		</p>
	</div>
</div>
</body>
