
<nav class="navbar navbar-light bg-dark">
  <form class="container-fluid justify-content-end">
    <a class="btn btn-warning col-md-1 text-dark" href="login" role="button">Go to Login</a>
    
  </form>
</nav>
{{!-- <button class="btn bg-dark text-light">Go to Login</button> --}}

  <div class="container-fluid">    
    	<div class="row align-items-center justify-content-center vh-100 vw-90">
  <div class="col-sm-6 bg-primary text-center">
  	<h1 class="text-dark p-5 m-5">TP INTEGRADOR FINAL: JUEGO DE TRIVIAS</h1>
		<p class="btn btn-dark btn-lg" role="button">
			ALUMNO: Bordon Ricardo Emanuel 
    </p>
    <p>Node.js+Express+mySql+handlebar</p>
  </div>

