<body class="bg-dark">	
    <div class="row align-items-center justify-content-center vh-100">
  <div class="col-sm-6 bg-warning text-center">
  	<h1 class="text-dark p-5 m-5">
          CHECK YOUR EMAIL ACCOUNT YOU REGISTERED WITH, CHECK FOR SPAM 
      </h1>
		<p><a href="/" class="btn btn-dark btn-lg" role="button">
            Get Out Here
        </a>
		</p>
	</div>
</div>
</body>